<a href="https://colab.research.google.com/github/Adeajakaye/udemy-class-python-fundamentals/blob/main/Copy_of_2_Python_101_Data_Types_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BOOLEANS

In [ ]:
# Boolean values can be represented as one of two constant objects "False" and "True". 
# Booleans behave like integers 0 and 1.

True

True

In [ ]:
False

False

In [ ]:
stock_1 = 200
stock_2 = 250

In [ ]:
stock_1 == stock_2

False

In [ ]:
stock_3 = 400
stock_4 = 400
stock_3 == stock_4

True

In [ ]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

# 2. LIST

In [ ]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.

In [ ]:
my_list = [1, 2, 3, 4, 5]

In [ ]:
my_list

[1, 2, 3, 4, 5]

In [ ]:
# Obtain the datatype
type(my_list)

list

In [ ]:
# list with mixed datatypes (for example you can have strings and integers in one list)

In [ ]:
my_list2 =[1, "GOOG", 2, "APPLE"]

In [ ]:
my_list2

[1, 'GOOG', 2, 'APPLE']

In [ ]:
# You can have a list inside another list (nested list)

In [ ]:
my_list3 = [1, 2, ["GOOG", "APPLE"]]

In [ ]:
my_list3

[1, 2, ['GOOG', 'APPLE']]

In [ ]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)

In [ ]:
my_list
my_list[0]

1

In [ ]:
my_list3[2]

['GOOG', 'APPLE']

In [ ]:
# indexing for nested lists

In [ ]:
my_list3

[1, 2, ['GOOG', 'APPLE']]

In [ ]:
my_list3[2][1]

'APPLE'

In [ ]:
my_list3

[1, 2, ['GOOG', 'APPLE']]

In [ ]:
my_list3[2][0]

'GOOG'

In [ ]:
# Negative Indexing
my_list[-1]

5

In [ ]:
my_list3[2][-1]

'APPLE'

In [ ]:
# List Slicing (getting more than one element from a list) 

# obtain elements starting from index 3 up to and not including element with index 6

In [ ]:
my_list4 = [1, 2, 3, "GOOG", "APPLE", "AMZN" ,7, 8, 9, 10]

In [ ]:
my_list4

[1, 2, 3, 'GOOG', 'APPLE', 'AMZN', 7, 8, 9, 10]

In [ ]:
# Obtain elements starting from index 3 to end

In [ ]:
my_list4[3:]

['GOOG', 'APPLE', 'AMZN', 7, 8, 9, 10]

In [ ]:
# All elements start to end
my_list4[:]

[1, 2, 3, 'GOOG', 'APPLE', 'AMZN', 7, 8, 9, 10]

In [ ]:
# Obtain the length of the list (how many elements in the list) 
len(my_list4)

10

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [ ]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]

In [ ]:
stocks

['GOOG', 'TSLA', 'AAPL', 'T', 'SP500', 'BTC', 'EUR/USD']

In [ ]:
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

**MINI CHALLENGE #3:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [ ]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [ ]:
print(my_list[1][1])
print(my_list[1])
print(my_list[-1])
print(my_list[3])

GOOG
['AAPL', 'GOOG', 'TSLA']
T
T

# 3. DICTIONARY

In [ ]:
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
# Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys

# Define a dictionary using key-value pairs
dict_1 = {"key1" : "value1", "key2" : "value2", "key3" : "value3"}

In [ ]:
# View the dictionary
dict_1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [ ]:
# Check the data type
type(dict_1)

dict

In [ ]:
# Access specific element in the dictionary using a specific key (ex: Key2)
dict_1["key1"]

'value1'

In [ ]:
# Define a dictionary for a bank client listing all his/her assets! 
client1 = {"Real estate": 15000, "stock": 10000, "saving": 2000}

In [ ]:
client1

{'Real estate': 15000, 'saving': 2000, 'stock': 10000}

In [ ]:
# Access elements in the dictionary
client1["saving"]

2000

In [ ]:
# Add a new item to an existing dictionary
client1["crypto"] = 1500

In [ ]:
client1

{'Real estate': 15000, 'crypto': 1500, 'saving': 2000, 'stock': 10000}

In [ ]:
# remove an item from the dictionary
del client1["saving"]

In [ ]:
client1

{'Real estate': 15000, 'crypto': 1500, 'stock': 10000}

In [ ]:
# delete the entire dictionary
# Note that you cannot print it out again because the entire dictionary has been deleted
del client1
client1

NameError: ignored

**MINI CHALLENGE #4:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [ ]:
my_stocks ={"GOOG" : 1200, "AMZN": 2000, "APPLE": 4500}
my_stocks

{'AMZN': 2000, 'APPLE': 4500, 'GOOG': 1200}

# 4. STRINGS

In [1]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotes
my_string = "hello, welcome to python for financial analyis"
my_string

'hello, welcome to python for financial analyis'

In [2]:
# Obtain the datatype
type(my_string)

str

In [6]:
# Combining two strings together (Let's combine the first and last name of a bank's client)
fist_name = "laila"
last_name = "Aly"
name = fist_name + last_name

In [7]:
name

'lailaAly'

In [9]:
# You can combine both strings together and add spaces in between
name = fist_name + " " + last_name
name

'laila Aly'

In [10]:
# Methods on strings 
# upper will be used to convert the string into upper case
my_string.upper()

'HELLO, WELCOME TO PYTHON FOR FINANCIAL ANALYIS'

In [14]:
# Split us used to divide up the string into words 
# The output from split is a list
x = my_string.split()
x

['hello,', 'welcome', 'to', 'python', 'for', 'financial', 'analyis']

In [15]:
# Let's check that the datatype is list!
type(x)

list

In [16]:
# you can index any element in the list using indexing
x[2]

'to'

In [17]:
# you can specify which letter could be choosed to perform the split
my_email = "ajakaye.doyin@gmail.com"
my_email.split("@")

['ajakaye.doyin', 'gmail.com']

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [18]:
client_feedback = str(input("how was our service today?"))
word = client_feedback.split()
print("here are the words fron client", word)

how was our service today?very good, i was impressed. Thanks
here are the words fron client ['very', 'good,', 'i', 'was', 'impressed.', 'Thanks']

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [25]:
email = str(input("welcome, please enter your email: "))
x = email.split("@")
x = x[0].split(".")
x[0]

welcome, please enter your email: ajakaye.doyin@gmail.com

'ajakaye'

# 5. TUPLES

In [27]:
# A tuple is a sequence of immutable Python objects. 
# Tuples are sequences, just like lists. 
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.
tuple_1 =( "APPL", 13, 14, "GOOG")
tuple_2 = ("AMZN", 3, "doyin", 10, 12)
print(tuple_1)
print(tuple_2)

('APPL', 13, 14, 'GOOG')
('AMZN', 3, 'doyin', 10, 12)

In [28]:
type(tuple_2)

tuple

In [29]:
tuple_2

('AMZN', 3, 'doyin', 10, 12)

In [30]:
# Accessing elements in a tuple
tuple_2[2]

'doyin'

In [31]:
# Tuple slicing
tuple_1[1:3]

(13, 14)

In [32]:
# Changing a vlue of a tuple does not work! 
# 'tuple' object does not support item assignment
tuple_2[2] = 10

TypeError: ignored

In [34]:
# Create a New Tuple from existing Tuples
tuple_3 = tuple_1 + tuple_2
tuple_3

('APPL', 13, 14, 'GOOG', 'AMZN', 3, 'doyin', 10, 12)

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [37]:
my_tuple = ( "adedoyin", "ajakaye", 25, 2000, "GOOG")
print(len(my_tuple))
print(type(my_tuple))

5
<class 'tuple'>

# 6. SETS

In [38]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers

my_set = {"GOOG", "T", "APPL"}
my_set

{'APPL', 'GOOG', 'T'}

In [39]:
# set do not have duplicates
my_set2 = {"AMZN", "T", "T", "GOOG", 10, 13}
my_set2

{10, 13, 'AMZN', 'GOOG', 'T'}

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [42]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
set1 = {'GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5}
set1

{5, 6, 'AAPL', 'APPL', 'GOOG', 'T', 'TSLA'}

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [ ]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Print the first, second and last element in the list**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [ ]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

In [ ]:
print(stocks[:])
print(stocks[0:3])
print(stocks[4:])

**MINI CHALLENGE #3 SOLUTION:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [ ]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [ ]:
print(my_list[1][1])

GOOG

In [ ]:
print(my_list[1])

['AAPL', 'GOOG', 'TSLA']

In [ ]:
print(my_list[3])

T

In [ ]:
print(my_list[-1])

T

**MINI CHALLENGE #4 SOLUTION:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [ ]:
stocks = {"SP500": 3000, 
          "AAPL": 400,
          "TSLA": 2200}
print(stocks)

{'SP500': 3000, 'AAPL': 400, 'TSLA': 2200}

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [ ]:
my_string = str(input("What did we do at the bank today? are you satisfied with the service"))
words = my_string.split(" ")
print("Here are the list of words you entered:", words)

What did we do at the bank today? are you satisfied with the serviceMy experience today was positive, the service is perfect! great job everyone
Here are the list of words you entered: ['My', 'experience', 'today', 'was', 'positive,', 'the', 'service', 'is', 'perfect!', 'great', 'job', 'everyone']

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [ ]:
input_str = input("Welcome to the bank, please enter your e-mail address:")
out_str = input_str.split('@')
out_str = out_str[0].split('.')
print(out_str[0])

Enter your e-mail address:ryan.ahmed@yahoo.com
ryan

**MINI CHALLENGE #7 SOLUTION:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [ ]:
my_tuple = ("Ryan", "ahmed", 25, 10)
print(my_tuple)

('Ryan', 'ahmed', 25, 10)

In [ ]:
len(my_tuple)

4

In [ ]:
type(my_tuple)

tuple

**MINI CHALLENGE #8 SOLUTION:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [ ]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6, 5]
out_list = list(set(my_list))
print(out_list)

[5, 6, 'T', 'APPL', 'GOOG', 'TSLA', 'AAPL']